<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>My Flask App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      <main>
        <img id="photo" src="{{ url_for('static', filename='images/0.jpg') }}" alt="Image will appear here">
      
        <div class="layout">
          <!-- Left side: Previous -->
          <div class="side-button">
            <button id="prevBtn">Previous</button>
          </div>
      
          <!-- Middle: Notes, search, TOC, print, logout -->
          <div class="middle-section">
        