<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="login-container">
        <div class="login-content">
            <h1>Register</h1>
            <form method="post" action="/register" class="login-form">
                <input type="text" id="username" name="username" required autofocus placeholder="Username" autocomplete="off">
                <input type="password" id="password" name="password" required placeholder="Password" autocomplete="off">
                <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm Password" autocomplete="off">
                <button type="submit">Register</button>
                {% if error %}
                    <p class="login-error">{{ error }}</p>
                {% endif %}
            </form>
            <a href="{{ url_for('login') }}" class="login-link">Already have an account? Login here.</a>
        </div>
    </body>    
</html>